<mat-card *ngIf="detail">
  <mat-card-header class="card">
      <img mat-card-xl-image src="https://via.placeholder.com/150" >
  </mat-card-header>
  <mat-card-content>
    <h4>Name: {{detail.name}}</h4>
    <h5>Height: {{  detail.height }}</h5>
    <h5>Mass: {{  detail.mass }}</h5>
    <h5>Hair color: {{  detail.hair_color }}</h5>
    <h5>Skin color: {{  detail.skin_color }}</h5>
    <h5>Eye color: {{  detail.eye_color }}</h5>
    <h5>Birth year: {{  detail.birth_year }}</h5>
    <h5>Gender: {{  detail.gender }}</h5>
    <h5>Homeworld: {{  detail.homeworld }}</h5>
  </mat-card-content>
</mat-card>
